{% extends "AtelierProductBundle::layout.html.twig" %}
 
{% block title %}
  Add a product - {{ parent() }}
{% endblock %}

{% block product_body %}
 
  <h2>Add a product</h2>
 
  {% include "AtelierProductBundle:Product:form.html.twig" %}
 
  <p>
   <a href="{{ path('atelier_product_dispAll') }}" class="btn">
      <i class="icon-chevron-left"></i>
      Go back to the list of products
    </a>
  </p>
 
{% endblock %}
