{% extends "::layout.html.twig" %}

{% block title %}
  Appointment - {{ parent() }}
{% endblock %}

{% block menu_appointment %}active{% endblock %}

{% block body %}
 
  <h1>Appointment</h1>
  <hr>

  {% block booking_body %}
  {% endblock %}
 
{% endblock %}
