{% extends "AtelierIndexBundle::layout.html.twig" %}
 
{% block title %}
  About - {{ parent() }}
{% endblock %}

{% block menu_about %}active{% endblock %}

{% block index_body %}
   <h1>About</h1>
  <hr>

<p>
	This website has been created by CESCHEL Marvin, YAO Haochen and GUO Xingyi during the second semester of SI4 (<a href="http://www.polytech.unice.fr/" target="_blank">Polytech'Nice-Sophia</a>). Our project supervisors were Anne-Marie Dery-Pinna, Emmanuel Pouthier and Christian Brel.
</p>
<p>
	The website has been created with PHP and the Symphony2 framework.
</p>
{% endblock %}
