{% extends "AtelierCategoryBundle::layout.html.twig" %}
 
{% block title %}
  Modifier une catégorie - {{ parent() }}
{% endblock %}

{% block category_body %}
 
  <h2>Modifier une catégorie</h2>
 
  {% include "AtelierCategoryBundle:Category:formulaire.html.twig" %}
 
  <p>
   <a href="{{ path('atelier_category_disp', {'id': category.id}) }}" class="btn">
      <i class="icon-chevron-left"></i>
      Retour à la catégorie
    </a>
  </p>
 
{% endblock %}
