{% extends "AtelierUserBundle::layout.html.twig" %}

{% block user_body %}
     <h3>Edit the user profile</h3>
 
	<!--<div class="well">-->
  	   {% include "AtelierUserBundle:User:form.html.twig" %}
	<!--</div>-->
{% endblock %}
