{% extends "AtelierUserBundle::layout.html.twig" %}

{% block user_body %}
     <h3>edit form</h3>
 
	<div class="well">
  	   {% include "AtelierUserBundle:User:form.html.twig" %}
	</div>
        <a href="{{ path('fos_user_security_logout') }}" class="btn">logout</a>
{% endblock %}
