{% extends "AtelierUserBundle::layout.html.twig" %}
 
{% block title %}
  Forbidden- {{ parent() }}
{% endblock %}

{% block user_body %}

<p>
  <h2>This page is not available for you</h2>
  <a href="{{ path('fos_user_profile_show') }}" class="btn">return</a><br/>
</p>
{% endblock %}
