<div class="well">
  <form method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <a href="{{ path('atelier_user_show',{'id': user.getId()}) }}" class="btn">
      <i class="icon-chevron-left"></i>
      Go back to the {{user.getUsername()}} profile
    </a>
    <input type="submit" class="btn btn-primary" />
  </form>
</div>
