{% extends "AtelierUserBundle::layout.html.twig" %}


{% block title %}
  Users list - {{ parent() }}
{% endblock %}


{% block user_body %}
<h3>Users List</h3>
 
<p>
      {% for message in app.session.flashbag.get('info') %}
        <i>{{ message }}</i>
      {% endfor %}
</p>

	<ul>
     {% for membre in list %}
         {% if (membre.hasRole('ROLE_SUPER_ADMIN') == false) %}
         	<li><a href="{{ path('atelier_user_show', {'id': membre.getId()}) }}"> {{ membre.getUsername() }}</a></li>
     	 {% endif %}
     {% endfor %}
     </ul>
{% endblock %}
