{% extends "::layout.html.twig" %}

{% block title %}
  Category - {{ parent() }}
{% endblock %}

{% block menu_category %}active{% endblock %}

{% block body %}
 
  <h1>Category</h1>
  <hr>

  {% block category_body %}
  {% endblock %}
 
{% endblock %}
