{% extends "::layout.html.twig" %}

{% block title %}
  Catégory - {{ parent() }}
{% endblock %}

{% block body %}
 
  <h1>Categories Management</h1>
  <hr>

  {% block category_body %}
  {% endblock %}
 
{% endblock %}
