{% extends "::layout.html.twig" %}

{% block title %}
  Account - {{ parent() }}
{% endblock %}

{% block menu_account %}active{% endblock %}

{% block body %}
 
  <h1>Account</h1>
  <hr>

  {% block user_body %}
  {% endblock %}
 
{% endblock %}
